---
import Image from 'astro/components/Image.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class='grid place-items-center duration-700 ease-out animate-in fade-in slide-in-from-top'>
  <div class='group flex gap-12'>
    <Image
      src='/images/arrow.svg'
      alt='Chevron arrows pointing down'
      width={50}
      height={50}
      loading='eager'
      class='animate-bounce duration-500 ease-out repeat-[2] group-hover:-translate-y-4'
    />
    <h2 class='text-4xl font-semibold lg:text-6xl'>{title}</h2>
    <Image
      src='/images/arrow.svg'
      alt='Chevron arrows pointing down'
      width={50}
      height={50}
      loading='eager'
      class='animate-bounce duration-500 ease-out repeat-[2] group-hover:-translate-y-4'
    />
  </div>
</div>
