---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    'fixed -z-10 h-64 w-64 rounded-full bg-primary blur-[150px]',
    className,
  ]}>
</div>
