---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    'my-32 h-[calc(100vh*2/3)] rounded-xl border-2 border-primary-dark bg-gray-900/80 p-10 shadow-glow duration-700 ease-out animate-in fade-in slide-in-from-bottom',
    className,
  ]}>
  <div class='h-full overflow-y-scroll scrollbar-hide'>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"</p>
    <p>$ echo "Hello, world!"<span class='animate-ping'>|</span></p>
  </div>
</div>
