---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class:list={[className]}>
  <h2 class='text-4xl font-thin lg:text-6xl'>About me</h2>
  <p class='text-lg leading-normal'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo, quaerat
    dolor facere harum aliquam quasi placeat labore deserunt nesciunt a ratione
    ea, laborum, odio repellendus sed minima ex natus. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Id quo, quaerat dolor facere harum
    aliquam quasi placeat labore deserunt nesciunt a ratione ea, laborum, odio
    repellendus sed minima ex natus. dolor facere harum aliquam quasi placeat
    labore deserunt nesciunt a ratione ea, laborum, odio repellendus sed minima
    ex natus. dolor facere harum aliquam quasi placeat labore deserunt nesciunt
    a ratione ea, laborum, odio repellendus sed minima ex natus. dolor facere
    harum aliquam quasi placeat labore deserunt nesciunt a ratione ea, laborum,
    odio repellendus sed minima ex natus. dolor facere harum aliquam quasi
    placeat labore deserunt nesciunt a ratione ea, laborum, odio repellendus sed
    minima ex natus. dolor facere harum aliquam quasi placeat labore deserunt
    nesciunt a ratione ea, laborum, odio repellendus sed minima ex natus. dolor
    facere harum aliquam quasi placeat labore deserunt nesciunt a ratione ea,
    laborum, odio repellendus sed minima ex natus. dolor facere harum aliquam
    quasi placeat labore deserunt nesciunt a ratione ea, laborum, odio
    repellendus sed minima ex natus. laborum, odio repellendus sed minima ex
    natus. dolor facere harum aliquam quasi placeat labore deserunt nesciunt a
    ratione ea, laborum, odio repellendus sed minima ex natus. laborum, odio
    repellendus sed minima ex natus. dolor facere harum aliquam quasi placeat
    labore deserunt nesciunt a ratione ea, laborum, odio repellendus sed minima
    ex natus. laborum, odio repellendus sed minima ex natus. dolor facere harum
    aliquam quasi placeat labore deserunt nesciunt a ratione ea, laborum, odio
    repellendus sed minima ex natus.
  </p>
</section>
