---
import Image from "astro/components/Image.astro";

const date = new Date();
let age = date.getFullYear() - 2007;
if (date.getMonth() < 4 || (date.getMonth() === 4 && date.getDate() < 25)) {
  age--;
}
---

<section
  class="flex flex-col-reverse items-center gap-12 duration-700 animate-in fade-in md:min-h-[40rem] md:flex-row md:items-start md:justify-between">
  <aside class="duration-700 ease-out animate-in slide-in-from-left">
    <h1 class="text-4xl font-bold leading-tight md:text-5xl lg:text-7xl">
      Hi there! I'm <br />
      <span class="text-brand">Dominik Tóth</span>.
    </h1>
    <p class="text-balance pt-6 text-xl leading-normal">
      A {age} year old highschool <span class="text-brand">student</span>,{" "}
      <span class="text-brand">web developer</span>
      <br /> and <span class="text-brand">linux enjoyer</span>
      from Slovakia.
    </p>
  </aside>

  <a
    href="/"
    class="shrink-0 duration-700 ease-out animate-in slide-in-from-right">
    <Image
      src="/images/ken.png"
      alt="Ken Kaneki profile"
      width={144}
      height={144}
      loading="eager"
      class="h-36 w-36 rounded-full border-4 border-brand-dark shadow-lg shadow-brand-dark"
    />
  </a>
</section>
